.container {
  display: grid;
  grid-template-columns: repeat(4, 125px);
  grid-template-rows: repeat(4, 125px);
  grid-gap: 5px; }

.cell {
  color: #fff;
  text-align: center;
  padding: 2em; }
  .cell.cell1 {
    background: url(../../images/cropped/image_1.jpeg); }
  .cell.cell2 {
    background: url(../../images/cropped/image_2.jpeg); }
  .cell.cell3 {
    background: url(../../images/cropped/image_3.jpeg); }
  .cell.cell4 {
    background: url(../../images/cropped/image_4.jpeg); }
  .cell.cell5 {
    background: url(../../images/cropped/image_5.jpeg); }
  .cell.cell6 {
    background: url(../../images/cropped/image_6.jpeg); }
  .cell.cell7 {
    background: url(../../images/cropped/image_7.jpeg); }
  .cell.cell8 {
    background: url(../../images/cropped/image_8.jpeg); }
  .cell.cell9 {
    background: url(../../images/cropped/image_9.jpeg); }
  .cell.cell10 {
    background: url(../../images/cropped/image_10.jpeg); }
  .cell.cell11 {
    background: url(../../images/cropped/image_11.jpeg); }
  .cell.cell12 {
    background: url(../../images/cropped/image_12.jpeg); }
  .cell.cell13 {
    background: url(../../images/cropped/image_13.jpeg); }
  .cell.cell14 {
    background: url(../../images/cropped/image_14.jpeg); }
  .cell.cell15 {
    background: url(../../images/cropped/image_15.jpeg); }
  .cell.cell16 {
    background: transparent; }

.cell-empty {
  background: transparent; }

.button {
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  color: black;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 25px 0px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase; }
