.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 100px;
}

.cell {
  color: #fff;
  font-size: 3em;
  text-align: center;
  padding: 2em;
  background: url(../../images/monks.jpg);
  background-size: 300%;
  &.cell1 {
    // background-position: top left;
    background-position: 0 0;
  }
  &.cell2 {
    // background-position: top center;
    background-position: 33% 0%;
  }
  &.cell3 {
    // background-position: top right;
    background-position: 66% 0%;
  }
  &.cell4 {
    // background-position: center left;
    background-position: 100% 0%;
  }
  &.cell5 {
    // background-position: center;
    background-position: 0% 50%;
  }
  &.cell6 {
    // background-position: center right;
    background-position: 33% 33%;
  }
  &.cell7 {
    // background-position: bottom left;
    background-position: 66% 33%;
  }
  &.cell8 {
    // background-position: bottom center;
    background-position: 100% 33%;
  }
  &.cell9 {
    // background-position: bottom right;
    background-position: 0% 66%;
  }
  &.cell10 {
    background-position: 33% 66%;
  }
  &.cell11 {
    background-position: 66% 66%;
  }
  &.cell12 {
    background-position:100% 66%;
  }
  &.cell13 {
    background-position:0 100%;
  }
  &.cell14 {
    background-position:33% 100%;
  }
  &.cell15 {
    background-position:66% 100%;
  }
  &.cell16 {
    background-position:100% 100%;
  }
}

.cell-empty {
  background: transparent;
}
