.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 100px;
}

.cell {
  color: #fff;
  font-size: 3em;
  text-align: center;
  padding: 2em;
  background-color: #d3d3d3;
}
